.hosted-field {
    height: 50px;
    box-sizing: border-box;
    padding: 12px;
    display: inline-block;
    box-shadow: none;
    font-weight: 600;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #dddddd;
    line-height: 20px;
    background: #fcfcfc;
    margin-bottom: 12px;
    background: linear-gradient(to right, white 50%, #fcfcfc 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 300ms ease-in-out;
}

.button-container {
    padding: 12px;
}

.helper-text {
    color: #8A6D3B;
    font-size: 12px;
    margin-top: 5px;
    height: 12px;
    display: block;
}


/* Braintree Hosted Fields styling classes*/

.braintree-hosted-fields-focused {
    border: 1px solid #0275d8;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.braintree-hosted-fields-focused.focused-invalid {
    border: 1px solid #ebcccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(100, 100, 0, .6);
}
